[2022-07-15 15:30] kripken commented on #44
@jakobkummerow

Very interesting data!

@conrad-watt

Thanks for the writeup!

I generally agree with the comment sections after each of those options.

The larger issue for me is that quadratic work can remain even if the annotation size is reasonable. As @jakobkummerow 's data shows, even a few hundred locals/blocks can end up with much longer validation times in `1b` and `1c` compared to `0` (a

[2022-07-15 15:47] conrad-watt commented on #44
From the point of view of the engine, I think the work required in validation for `1b` is still linear in the size of the given program - the issue is that reasonable-looking optimisations in the producer could theoretically make the program really big by blowing up the number of annotations (my understanding is that this is what @jakobkummerow's example is characterising).

IMO the general soluti

[2022-07-15 16:16] titzer commented on #44
Off the top of my head, the options producers have to combat the pathological cases are:

1. group NN locals into dense ranges, hoping for a denser encoding with run-length bitmaps
2.  initialize NN locals with (redundant) actually NN value at/before dominator of uses, obviating the need for flow-sensitive analysis
3. fallback to nullable in pathological cases

I think the main difference between

[2022-07-15 16:30] kripken commented on #44
@conrad-watt

Oh, maybe I am wrong then. What is the time required on this `br_if` here in `1b`?
[code]
My understanding is that the `br_if` must check that all of `$x1..$xn` are in fact set, so it's linear work. Is there a way to make it constant? (in general, I mean - specific cases are possible to optimize to constant time, of course)

Yes, if we ship `1b` or `1c` then producers will need to ad

[2022-07-15 17:08] conrad-watt commented on #44
Ah, I wasn't precise above. In the context of @jakobkummerow's example, the validation time scales quadratically with `n`, but so does the program size. Instructions like `br` which check labels can cause validation to have super-linear cost (also for stack types), so my statement isn't correct in general.

[2022-07-15 18:13] jakobkummerow commented on #44
@titzer

Yes.

While 1b undoubtedly makes the pathology explicit, I disagree that this changes anything about what producers can do. The strategies you list apply just the same to 1b and 1c. In particular, the second option (initializing at least some of the locals early on, before going into deeply nested blocks) avoids 1c's costs just like it avoids 1b's, by turning both into "effectively-1a" (w

[2022-07-15 19:41] kripken commented on #44
@conrad-watt

Got it, thanks. It's quadratic work like on `br_if` that I've been thinking about recently. I wrote up a summary of my failed attempts here now: https://gist.github.com/kripken/de5c109097efea1cc2dfb77fb70b3863

Overall I am not optimistic that we can handle this in linear time. We are trying to do too much, probably: full liveness annotations are inherently quadratic since each local

[2022-07-15 19:49] titzer commented on #44
The quadratic worst-case complexity not being tied to program size in `1c` makes this option seem unviable. My point earlier is that at least `1b` makes the pathology explicit in the bytecode, and as @conrad-watt mentioned, it is technically linear in the program input size.

[2022-07-15 20:05] kripken commented on #44
@titzer

I'm missing something, how is it technically linear in the program input size? Again, if each single `br_if` requires linear time then size increases linearly with them but time is quadratic. (This is because we annotate `block`s and not `br_if`s.)

[2022-07-15 20:14] titzer commented on #44
It's linear in the wasm bytes, which may be quadratic in the input size. But that makes the annotations the producer's problem.

[2022-07-15 20:16] titzer commented on #44
Sorry, you're right that it's not linear in the wasm bytes. It's proportion to the number of branches targeting a block to the block's annotation size. But that is not any different than with block types that we have today.

[2022-07-15 22:34] kripken commented on #44
@titzer Ok, thanks. Yes, it is similar to what multivalue can also cause.

But I am not sure that is enough of a justification. While it can happen with multivalue, major toolchains don't actually emit dangerous code atm: LLVM doesn't use multivalue, and even the plans to use it there (for the ABI) will not lead to `br_if` on multiple values, and Binaryen only infers single values for `br_if`. So

[2022-07-16 00:59] titzer commented on #44
Yes, we should avoid quadratic time, which is why `1c` concerns me more than `1b`. I am still rooting for us to find a way to make `1b` work.

[2022-07-16 07:51] rossberg commented on #44
With 1b, the complexity of checking a branch is linear in the size of the *target block's type*. That is already the case with the status quo of block types.

With 1c, the complexity of checking a branch is linear in the size of the *target block's type* (for the operands) ***plus*** the size of the *target block's body* (for initialisation status). That is substantially worse than the status quo.

[2022-07-16 14:53] RossTate commented on #44
The asymptotic difference between 1b and 1c is rather small. There is no difference in the worst case, and the common cases where rarely differ as well. (Remember, as @jakobkummerow pointed out above, the number of locals you have to consider for a given label in 1c is bounded by the number of locals that have been additionally initialized by the first branch to that label.) Also, you can simply r

[2022-07-16 14:54] jakobkummerow commented on #44
I find the claims that "1b is no worse than the status quo, but 1c is" not convincing, for several reasons:
- The status quo [already has](https://github.com/WebAssembly/function-references/issues/44#issuecomment-800949977) validation time that's "truly quadratic" in module bytes in certain situations, which are easy to trigger in artificial demonstrations but haven't hurt us in practice yet.
- 1b

[2022-07-16 15:19] conrad-watt commented on #44
As I've said above, I can accept `6` (and experiments may lead us to `defer`).

To me, the difference between `1b` and `1c` is that in `1b` a producer can easily opt out of emitting annotations. It may even be correct for a producer to default to emitting no annotations unless it is absolutely certain it's not in a worst-case, effectively only using "`1a+`".

The vastly most common situation, expe

[2022-07-16 19:45] kripken commented on #44
@jakobkummerow

Good points, and I agree with most, but 2 things:

I want to stress again that we don't actually have real-world experience there. No major toolchain actually emits multivalue (or even wants to, not beyond trivial ABI usage). So multivalue doesn't help us estimate the practical risk here. It is unknown.

I think a new opcode is the right thing. As @titzer has pointed out, normal `l

[2022-07-16 21:38] jakobkummerow commented on #44
Yes, I didn't mean to say otherwise. I meant my last post to be neutral on whether this risk is acceptable. (We don't know of any real-world patterns that would typically create the 1b/1c quadratic cases; which doesn't mean such patterns don't or won't exist.)

As I said, I don't mind. I still think it's a minor detail that doesn't matter much either way. If we specified trapping `local.get` and I

[2022-07-17 00:14] titzer commented on #44
I feel like this is taking the conversation back a step. We discussed this. Both `1b` and `1c` contain initialization (and therefore nullness) analysis to *validation* and guarantee that analysis is preserved in *types*, so all tiers benefit from type information, rather than need to repeat the work of flow-sensitive analysis. That makes all tiers simpler and faster and compiler tiers generate bet

[2022-07-17 00:24] titzer commented on #44
IMHO pretty much the whole point of this exercise is to establish the "truth in advertising" of non-nullable types for locals so that tiers can just rely on types and not flow analysis. That, by extension, requires us to make sure that types of operand slots also don't lie--which means `local.get` of a non-nullable type better produce a non-null reference on the operand stack. But I don't think re

[2022-07-17 03:00] kripken commented on #44
@titzer

It is true that `1b` and `1c` can do that, but we've also discussed that `local.get_or_trap+NNL` can do literally the same analysis as `1c` during validation. That is summarized in footnote 7 in [the doc](https://gist.github.com/kripken/830f2ae38a63ce5c62427d58dd22b911). If a VM does so then it can emit literally the same code as `1c` in baseline compilation. And for other tiers, the only

[2022-07-17 12:47] titzer commented on #44
@kripen Can you add the list of all the alternatives, including the ones we've decided to forego, to that document? That list is somewhere here in this thread but the GH UI folds it and it's hard to refer back to the numbers.

One option is we simply limit the number of NNLs in a function  (`1b` or `1c`) and/or the size of annotations (`1b`) to reduce the `n` in `O(n^2)`. We put reasonable limitat

[2022-07-17 12:53] jakobkummerow commented on #44
@titzer, keep in mind that `1b` requires validation. If (as you say) it's a bad idea for a baseline tier to voluntarily do `1a`-style analysis (for cost/benefit reasons), then forcing it by spec to do `1b` validation is an even worse idea, because `1b` validation implies the work of `1a` and then some. (And just for the record, the same holds for `1c`, which also implies `1a` and then some.)

Obvi

[2022-07-17 19:04] kripken commented on #44
@titzer

Yes, needing to click multiple times to expand hidden comments is very annoying on such a long thread... and there are multiple lists in various places. Ok, I went through it all now and gathered them to a new appendix section, with links:

https://gist.github.com/kripken/830f2ae38a63ce5c62427d58dd22b911#appendix-previously-considered-options

I think @jakobkummerow 's point is correct. A

[2022-07-17 19:10] kripken commented on #44
Sorry, I forgot something in my last comment:

Oh, nice idea! I think that's a good improvement to `local.get_or_trap+NNL` that AFAIK no one has thought of before. There's no harm to allowing `local.get` there, and it does make things more explicit. I added it to the doc.

[2022-07-17 21:22] titzer commented on #44
Thanks a lot for doing this.

@jakobkummerow I agree that if validation is folded into baseline compilation, then it doesn't affect asymptotic complexity. Another design is that validation is separate from baseline compilation, e.g. in a three tier system that employs an interpreter. Conceptually, the analysis (and therefore pathological case) is part of validation, in my view.

I think non-null t

[2022-07-17 21:59] RossTate commented on #44
@titzer I am having a hard time understanding your concern. I believe we are already evaluating the performance benefits of non-nullable locals in a setting where they are most likely to materialize: for a language with common non-nullable types on an engine that have to handle nulls explicitly (rather than through hardware traps). So what is the bad tradeoff you are anticipating that we are missi

[2022-07-18 02:46] kripken commented on #44
@titzer Are those concerns specific to interpreters?

[2022-07-18 10:55] rossberg commented on #44
As has been mentioned before, 1c has a much higher risk of running into the worst case than 1b, because the cost of inference is difficult to predict and _control_.

Specifically, 1b enables an easy way to prevent bad behaviour by means of imposing syntactic limits on (the size of) block types, in the spirit of all the other [syntactic implementation limits](https://webassembly.github.io/spec/js-a

[2022-07-18 13:04] RossTate commented on #44
@rossberg https://github.com/WebAssembly/function-references/issues/44#issuecomment-1186211206 was made in an attempt to help move the discussion forward by possibly narrowing options down. I believe everyone but you and @askeksa-google have responded to that in one way or another. If you're advocating for the 1b/1c class of options, could you offer reasons to do in light of the observations in th

[2022-07-18 13:30] askeksa-google commented on #44
I have been reflecting some more on the dummy initialization approach, i.e. the simple strategy that a producer can follow to make its output adhere to any of the validation schemes (1a, 1b or 1c). To recap, it goes basically like this:

*If a non-nullable local is ever read in a place where it is not definitely initialized according to the validation scheme, initialize the local to a dummy value.

[2022-07-18 13:36] rossberg commented on #44
@RossTate, right, a comment made in January after which we had months of more discussion, which I took as basis for narrowing down the options further in my comment from May, after which we had more discussion, after which we had the [meeting in June](https://github.com/WebAssembly/meetings/blob/main/gc/2022/GC-06-14.md#discussion-alternatives-to-let-httpsgithubcomwebassemblyfunction-referencesiss

[2022-07-18 14:08] titzer commented on #44
@kripken The performance concerns I outlined apply to all execution tiers. Engines that use HW checks for type 1 nullchecks will likely use HW checks for all tiers.

[2022-07-18 14:13] titzer commented on #44
It's worth mentioning that, AFAICT, `1a` (reset initialization status at the end of every block) is future-compatible with upgrading to `1b` or `1c` later.

[2022-07-18 14:21] conrad-watt commented on #44
I would love both for this thread to be ended, and for `1a` to be our conservative compromise. It could also be extended with something like `6` if we later feel this is the right direction (i.e. `local.get` permitted when `1a` says it's initialised, `local.get_or_trap+NNL` permitted even if this isn't the case).

@kripken how would you feel about about the scheme suggested by @askeksa-google in B

[2022-07-18 14:24] rossberg commented on #44
@RossTate, my apologies, when I clicked on the link earlier it seemed to take me to some comment from January. But that probably just was the page loading slowly (I'm on public Wifi right now).

[2022-07-18 14:36] RossTate commented on #44
As a reminder, we discussed using dummy initializers before, and it was ruled out because creating dummy values for non-nullable types is not easy.

[2022-07-18 14:44] jakobkummerow commented on #44
As Aske pointed out, it _is_ easy for all types currently in existence, and with 1a it's not something that would be baked into the spec (what we ruled out was any approach that _per spec_ relies on the existence of a default value; that does not apply to 1a), it's just a non-normative note "dear module producers, if you find that 1a doesn't cover your use case, have a look at this easy workaround

[2022-07-18 14:51] askeksa-google commented on #44
@RossTate

As a producer, I definitely think it is.

In dart2wasm, it amounts to initializing local variables of non-defaultable type at their point of declaration [if they don't have an initializer already](https://github.com/dart-lang/sdk/blob/145a9230de377dc1564ea563c55afbfa1912f102/pkg/dart2wasm/lib/code_generator.dart#L566-L570), plus [the generation of dummy values](https://github.com/dart-l

[2022-07-18 15:03] askeksa-google commented on #44
It is, as long as we choose a compatible behavior for `loop`. We can't choose a 1a that doesn't reset at the end of `loop` and later upgrade that to a 1b or 1c that does. The other direction will work, though, AFAICT.

[2022-07-18 15:29] askeksa-google commented on #44
It does. For barista3 (unoptimized), this constitutes a 0.05% module size overhead (for 1a).

Yes, it does have this caveat, which I considered mentioning but chose to defer to a later post.

If a type is on a cycle of non-nullable references, or has a chain of non-nullable references to such a cycle, no value of that type (dummy or otherwise) can ever be instantiated using currently existing mech

[2022-07-18 15:43] RossTate commented on #44
Thanks for the thorough response!

Personally, my inclination at this point is to just do defer+shorthand (e.g. `local.get_non_null`). Just like 1b/1c, having NNLs seems to come with more baggage than benefits (still only a fraction of a percent performance improvement in the baseline compiler). In fact, not having NNLs might have performance benefits as it allows more locals to be consolidated, m

[2022-07-18 17:44] RossTate commented on #44
1a provides no performance benefits (it might even worsen performance due to less consolidation of locals) while placing additional burden on the generator. It does not lighten the burden on engines (just moves analysis from baseline to validation). Can someone provide an advantage 1a has over defer+shorthand?

[2022-07-18 18:11] titzer commented on #44
@kripken

I am not assuming that a baseline compiler will do `1c` analysis. We were just talking about how both `1c` and `1b` have quadratic complexity, and even barring that, it's significantly more compilation overhead than what baseline compilers are designed for.

@conrad-watt I am assuming that engines that can afford to do so will rely on HW nullchecks for type 1 nullchecks (i.e. the ones th

[2022-07-18 18:50] conrad-watt commented on #44
As was pointed out [above](https://github.com/WebAssembly/function-references/issues/44#issuecomment-1172886477), with `defer` a baseline compiler likely won't be able to eliminate null checks on local accesses inside loops because "nullness" of the local is not monotonic. So `1a` should be helpful in the case that a non-nullable local is set and then used inside a subsequent loop.

[2022-07-18 19:02] titzer commented on #44
FWIW I prefer the terms "in-place interpreter" and "rewriting interpreter" as they don't require context to be explanatory.

[2022-07-18 19:09] RossTate commented on #44
Thanks, @kripken and @conrad-watt, for giving some advantages. There's a lot of information above, and it's helpful to get some reminders about parts I've forgotten/missed.

My understanding is that typical interpreters in practice like wasm3 can easily avoid this cost.

But it's a local that can only be accessed in limited situations, which seems like a new inelegant hole to add to the design. (I

[2022-07-18 19:21] kripken commented on #44
@titzer Thanks for the clarification, now I see. Ok, sounds like we agree that `local.get_or_trap+NNL` can avoid as many null checks as `1c` and `1b`, but by doing so it also does similar work during validation (and it would be good to avoid that work).

Also I like the terms "in-place interpreter" and "rewriting interpreter" and I switched the doc to use them.

[2022-07-18 19:51] conrad-watt commented on #44
First, I think this depends on how often we expect such workarounds to be necessary. I'd welcome more experimental data, but we have promising numbers such as ([here](https://github.com/WebAssembly/function-references/issues/44#issuecomment-1172972361)) where 99.85% of non-nullable `local.get` instructions validate under `1a` . Not that this is precisely comparable, but I'd expect `local.get` of a

[2022-07-18 21:20] RossTate commented on #44
Sorry, the cost I'm referencing is the implementation complexity of producers.

On the one hand, we have a solution where we just add a shorthand instruction, engines do some simple analysis during baseline compilation (at whatever scale they find is actually beneficial), and all producers get nearly all of the potential benefit.

On the other hand, we have a solution where we add non-defaultable

[2022-07-19 08:08] askeksa-google commented on #44
In the absence of null check elimination in the baseline compiler, the performance benefit of non-nullable locals is quite significant. One of the things we have [seen in practice](https://github.com/WebAssembly/function-references/issues/44#issuecomment-1146034762) is a 9% overall peak performance improvement from non-nullable locals in a situation where V8 failed to optimize a single hot functio

[2022-07-19 11:35] RossTate commented on #44
This is the critical condition. Others' comments have indicated that we could efficiently add basic null-check elimination to the baseline compiler and it would recover the vast majority of the benefits of non-nullable locals. After all, WebAssembly burdens producers with generating semi-structured control flow for the explicit purpose of making it easy for engines to optimize. Here we have an opp

[2022-07-19 11:43] askeksa-google commented on #44
We can efficiently add basic null-check elimination to the baseline compiler for non-nullable locals *if initialization of non-nullable locals obey monotonicity*. The `defer` option (with or without shorthand) does not fulfill this property. There has been no indicattion in the discussion that we can achieve such elimination without monotonicity, and there are fundamental limitations to one-pass f

[2022-07-19 11:51] titzer commented on #44
I'm fine moving forward with `1a` as well.

[2022-07-19 12:20] RossTate commented on #44
I forget where, but I remember @kripken made a comment somewhere that indicated monotonicity was not particularly necessary for the majority of benefits either. @kripken, is my understanding incorrect?

[2022-07-19 13:57] kripken commented on #44
I don't think it matters much, but yes, even without monotonicity a baseline compiler could do pretty well on removing non-null checks. See [footnote 7 in the doc](https://gist.github.com/kripken/830f2ae38a63ce5c62427d58dd22b911#user-content-fn-ninety-754143da199bb60d89985d43ad92e796) for a summary + links (starting from the second sentence in that footnote).

But, again, I don't think it matters.

[2022-07-19 14:25] RossTate commented on #44
Thanks for the clarification and the additional good point about how explicit NNLs help save time in analyses.

From what producers have described, 1a is no less of a burden on producers than 1c (or arguably 1b). And it sounds like it offers no benefits to engines over defer+NNLs. That is, the column for 1a would look very similar to 1c, and the table summary still strongly suggests that defer+NNL

[2022-07-19 17:11] tlively commented on #44
It looks like we have a consensus coalescing around [1a](https://github.com/WebAssembly/function-references/issues/44#issuecomment-1136373660) (resetting initialization state at the end of every block) for the MVP. Let's try to resolve this discussion right now.

**Official online unanimous consensus vote**

React to this comment with a 👎 to object to the proposed resolution. If we have any 👎 by t

[2022-07-22 04:52] tlively commented on #44
Excellent, we will go with option 1a for the MVP.

[2022-07-22 04:55] tlively commented on #20
We've decided to replace `let` over in #44, so we should close this issue. (I don't seem to have permissions to do so. @rossberg, could you give me write permissions to this repo?)

[2022-07-22 06:53] #20 closed

[2022-07-22 06:56] rossberg commented on #20
@tlively, done.

[2022-07-22 08:34] rossberg commented on #7
Let was removed, so this is obsolete.

[2022-07-22 08:34] #7 closed

[2022-07-22 08:34] rossberg commented on #9
Let was removed, so this is obsolete.

[2022-07-22 08:34] #9 closed

[2022-07-22 08:35] rossberg commented on #35
Let was removed, so this is obsolete.

[2022-07-22 08:35] #35 closed

[2022-07-22 08:35] rossberg commented on #23
Let was removed, so this is obsolete.

[2022-07-22 08:35] #23 closed

[2022-07-22 08:36] rossberg commented on #37
Let was removed, so this is obsolete.

[2022-07-22 08:36] #37 closed

[2022-07-22 08:36] rossberg commented on #40
Consensus is to include non-null types, so closing this.

[2022-07-22 08:36] #40 closed

[2022-07-22 08:37] rossberg commented on #57
Let was removed.

[2022-07-22 08:37] #57 closed

[2022-07-22 08:39] rossberg commented on #3
Func.bind never had consensus and has been dropped from the proposal.

[2022-07-22 08:39] #3 closed

[2022-07-22 08:39] rossberg commented on #11
Func.bind has been dropped from the proposal.

[2022-07-22 08:39] #11 closed

[2022-07-22 08:39] rossberg commented on #13
Func.bind has been dropped from the proposal.

[2022-07-22 08:39] #13 closed

[2022-07-22 08:39] rossberg commented on #36
Func.bind has been dropped from the proposal.

[2022-07-22 08:39] #36 closed

[2022-07-22 08:40] rossberg commented on #1
This has been answered.

[2022-07-22 08:40] #1 closed

[2022-07-22 08:41] rossberg commented on #5
This has been answered.

[2022-07-22 08:41] #5 closed

[2022-07-22 08:42] rossberg commented on #39
The spec doc has been updated.

[2022-07-22 08:42] #39 closed

[2022-07-22 08:45] rossberg commented on #38
Update: most of the spec has been there for a while, but still missing:

* Tracking initialization status of locals, as recently decided.
* Semantic representation of types (#51).
* Updating the proof appendix.
* Random todos.

[2022-07-22 08:47] rossberg commented on #25
Subtyping on functions is not included in this proposal.

[2022-07-22 08:47] #25 closed

[2022-07-22 09:03] rossberg commented on #27
We still need to resolve this. Please let's focus on _new_ instructions consuming reference operands, of the sort occurring in this and the GC proposal, e.g. `call_ref`, `array.get`, etc.  Currently, some of these annotate the reference type, some don't.  I think there is agreement that we should be consistent, but less so in which way.

AFAICS, the main arguments in this discussion so far have be

[2022-07-22 11:32] titzer commented on #27
Type annotations also benefit baseline compilers. Otherwise baseline compilers have to track full types (rather than machine representations) to model the stack effects of instructions like `call.ref` or knowing the register class of the result of `struct.get`.

[2022-07-22 12:05] jakobkummerow commented on #27
I can offer two data points:

While that sounds good in theory, V8 does not care about this property, for two reasons:
- We wouldn't want the code duplication of having one decoder implementation that tracks types (which is required for validation anyway), and another (for compiling) that doesn't. So we use a single (templatized) implementation; as a consequence there's practically no cost to havi

[2022-07-22 12:15] askeksa-google commented on #27
Just to quickly [recap](https://github.com/WebAssembly/gc/pull/241#issuecomment-916981121), the actual numbers for barista3 are 5.8% uncompressed and 6.4% compressed (zopfli).

[2022-07-22 13:09] jakobkummerow commented on #44
It's great to finally have a solution here! @askeksa-google raised one detail a couple of days ago: we still have a choice to make regarding `loop`.

Contrary to `block`, there is no way to reach the `end` of a `loop` without executing all of its body at least once; so we could maximise applicability of "option 1a" by _not_ resetting initialization status at the `end` of `loop`s; in other words th

[2022-07-22 13:09] jakobkummerow commented on #44
"I strongly believe that we **should _not_ reset** NNL initialization status at the `end` of a `loop`, and would rather argue about it than be outvoted."

[2022-07-22 13:09] jakobkummerow commented on #44
"If it was up to me, I'd say we **should _not_ reset** NNL initialization status at the `end` of a `loop`, but I'd rather be outvoted than spend time arguing about it."

[2022-07-22 13:10] jakobkummerow commented on #44
"I totally **don't care** one way or the other."

[2022-07-22 13:10] jakobkummerow commented on #44
"If it was up to me, I'd say we **should reset** NNL initialization status at the `end` of a `loop`, but I'd rather be outvoted than spend time arguing about it."

[2022-07-22 13:10] jakobkummerow commented on #44
"I strongly believe that we **should reset** NNL initialization status at the `end` of a `loop`, and would rather argue about it than be outvoted."

[2022-07-22 13:58] titzer commented on #44
It's sounds OK to me at first blush to not reset at loop ends, because the only way to get there is falling through.

[2022-07-22 14:01] conrad-watt commented on #44
@titzer this would mean that we break forwards compatibility with the version of `1b` that @rossberg and I advocated for (recall the whole "local reasoning" debate). As @jakobkummerow mentioned, we can go from resetting now to not resetting later, so resetting is the most conservative choice in terms of future plans.

[2022-07-22 14:03] rossberg commented on #44
The current PR does "reset". Frankly, I don't think there is much of a choice here, since not resetting is incompatible with a uniform interpretation of block types under 1b and thus not really conservative, as we intended to be.

[2022-07-22 14:16] titzer commented on #27
It's already the case that different production engines have made different tradeoffs. For example, the SpiderMonkey baseline compiler has its own dedicated decoding logic and its abstract stack does not model full types (instead, kinds, constants, register classes, and spill status). That pays off: SpiderMonkey baseline compiler generates code 4x faster than Liftoff.

While current production eng

[2022-07-22 14:18] titzer commented on #44
Ok, fair points. I agree that resetting is the conservative choice.

[2022-07-22 20:40] eqrion commented on #27
I don't have an opinion on the larger issue here, but just wanted to clarify this point.

Our baseline compiler performs function validation at the same time as code generation. Function validation requires the value stack, so we always have the full typing of the stack available. For code generation, we keep a parallel stack that models kinds/constants/register classes/spill status as you say.

I

[2022-07-22 22:48] #44 closed

[2022-07-23 06:58] manoskouk commented on #26
To revive this, I suggest the following binary format:

`tabletype ::= et:reftype flag limits init:expr?`

`flag in {0,1,2,3}`, if `et = (ref null t)`
`flag in {2,3}`, if `et = (ref t)`

`limits ::= u32`, if `flag in {0,2}`
`limits ::= u32 u32`, if `flag in {1,3}`

`init: ε`, if `flag in {0,1}`
`init:expr`, if `flag in {2,3}` with `expr:t` and `t <: et`

[2022-07-23 07:43] rossberg commented on #26
@manoskouk, keep in mind that the expression is not part of the table _type_. Table types appear in other places as well, such as table imports. The expression only appears in table _definitions_. Technically, we could still encode a bit choosing its presence in the type, but that would be a somewhat odd factoring, since it would only be meaningful in some contexts.

(Also, I believe the specific

[2022-07-24 10:06] manoskouk commented on #26
Good points.
If we want an optional initializer for nullable tables, we will have to encode this bit somewhere, and I don't see where else it could go. Another (probably better) solution would be to not allow custom initializers for nullable tables.
In any case, we should reserve both the second ("shared") and third ("memory64") bits.

[2022-07-24 10:35] rossberg commented on #26
Well, see #65. ;)

That case might be useful, though. More importantly, parsing should not depend on semantics. We don't know how we'll want to extend the type system in the future, and whether a type is nullable might not always be syntactically apparent locally.

[2022-07-25 10:16] manoskouk commented on #27
It seems that both V8 and SpiderMonkey always reconstruct types along with code generation. This is a strong argument to remove type annotations and save ~5% on binary size. I think forcing interpreters to maintain some information that they generate during verification anyway is a small price to pay for this benefit. Keep in mind that we are at a 2x deficit to JS, so any improvements are welcome.

[2022-07-25 13:05] titzer commented on #27
I'd like to see updated numbers on the binary format overhead since we've moved away from RTTs. In particular, I think casts will still have an immediate, but binaries should be smaller overall without additional RTT instructions.

[2022-07-25 13:58] jakobkummerow commented on #44
FYI, this [has been implemented](https://chromium.googlesource.com/v8/v8/+/ce4e9911a4d85228a45c65c88021083108fbc28c) in V8.

[2022-07-25 14:06] eqrion commented on #27
One question I have for if we don't have a type annotation for some new instructions, such as call_ref, is how they are expected to validate in dead code (i.e. with stack polymorphism)? Let me know if this was answered somewhere else.

[code]

Is there an implicit requirement for going down this road that we adopt [relaxed dead code validation](https://github.com/WebAssembly/relaxed-dead-code-vali

[2022-07-25 14:42] askeksa-google commented on #27
Here are some numbers for the barista3 benchmark for the current version of dart2wasm (nominal types, non-nullable locals), unoptimized. "Current" is the currently specified encoding, without type index on `array.len` (since we are removing that in any case). "Without" is futhermore without type index on `struct.get*`, `struct.set`, `array.get*` and `array.set`.
| | Module, uncompressed | module,

[2022-07-25 16:22] eqrion commented on #27
Paging in the dead code conversation again, I remembered that the bottom type should resolve this particular situation. `ref.as_non_null` is a bit trickier as it refines a nullable reference type a non-nullable reference type. I do not know if a bottom heap type is expected to be added to resolve this situation as well.

[2022-07-25 18:08] jakobkummerow commented on #27
@eqrion : `call_ref` currently doesn't have any type annotation, and in unreachable code it just trivially validates. It doesn't modify the stack; since the stack is polymorphic anyway, other subsequent instructions will accept it just as happily.
`ref.as_non_null` is equally easy: when it encounters a polymorphic/unreachable stack, it leaves it as is.
We implement that using an internal-only "bot

[2022-07-25 18:19] titzer commented on #27
Just to be clear, this is what I am proposing:

`array.new`,`array.get*`, `array.set`: immediate is heaptype (decltype) index
`array.len`: no immediate
`struct.new`: immediate is heaptype (decltype) index
`struct.get`, `struct.set`: immediate is *module-wide* field index [1]
casts/tests: to be resolved per #274

[1] I believe having a module-wide index space for struct fields is both specific enou

[2022-07-25 18:43] askeksa-google commented on #27
A module-wide field index would be a nightmare for on-the-fly encoding producers like dart2wasm.

In terms of compressed size, it's [even bigger](https://github.com/WebAssembly/gc/issues/238#issuecomment-907298140) than having both type index and field index.

[2022-07-25 19:53] eqrion opened #69 "Validation rule for call_ref with polymorphic stack"
Should the following module validate?

[code]

Here's the rule for call_ref:
[code]

The polymorphic stack after unreachable can materialize an `unknown` type for the callee funcref, but what would the `$t` of the typing rule be then? And therefore what gets pushed after call_ref?

In the above example, the only legal `$t` is `(type (func (result f32 f32))`, and therefore `call_ref` would push two

[2022-07-25 19:53] eqrion commented on #27
I have a follow-up question to this, and filed #69 to not distract this issue.

[2022-07-25 20:20] tlively commented on #27
I added this issue to the agenda for the subgroup meeting tomorrow in case we want to talk about it in real time.

[2022-07-25 20:27] titzer commented on #27
@askeksa-google I don't quite understand why a module-wide field index is bigger or why it is difficult for an on-the-fly producer. Could you explain a little?

[2022-07-25 20:33] rossberg commented on #69
Good catch! The reference interpreter allows this, since it just assumes the operand can be (the subtype of) any function type. But as you correctly point out, that is not actually supported by the typing rule, which requires the type to exist in the current module.

In the absence of a type annotation, there is no simple solution to this within in the current type system, where type indices are n

[2022-07-25 20:42] jakobkummerow commented on #69
FWIW, V8 is fine with the `call_ref` + `f64.add` in this example, but complains at the end:
`Compiling function #0 failed: expected 2 elements on the stack for fallthru, found 3 @+38`
When I add a `drop` after the `f64.add`, the module validates in V8. Checking for too many stack values in unreachable code may well be a bug.

Binaryen's `wasm-dis` and `wasm-opt` accept the module without any chang

[2022-07-25 21:13] tlively commented on #69
Binaryen's validation algorithm is already similar to the one in the relaxed dead code typing proposal, so proper validation was definitely not run.

[2022-07-25 21:15] rossberg commented on #27
@tliverly, FWIW, I probably can't make it tomorrow.

@eqrion:

Yes, a (spec-internal) bottom heap type is definitely required, see WebAssembly/gc#311. Before, `None` was nicely doing that job, but with the 3-pronged type hierarchy, we'll need an extra bottom type below.

@askeksa-google:

I have to agree with that, I'd highly prefer not to make such a change. It would make the type section rather

[2022-07-25 21:22] rossberg commented on #69
@jakobkummerow:

No, I think you and V8 are correct, this particular example has to be rejected.

[2022-07-25 22:35] titzer commented on #27
@rossberg I don't see how a module-local field ordering is any different (or worse) than the module-local ordering we have for types. Pretty much all the issues you mention apply in exactly the same way to types in a recursion group, as they are numbered with module-local indexes and not group-local indexes.

[2022-07-25 23:08] jakobkummerow commented on #27
I've hacked up a standalone module processor that lets me drop and restore unnecessary bytes at will :)

So, here are actually-measured numbers for the Sheets module:

| module size | uncompressed | gzip | brotli |
|---|---:|---:|---:|
| current | 10632532 | 1995346 | 1284238 |
| without immediates | 10417566 | 1950247 | 1250531 |
| saved (absolute) | 214966 | 45099 | 33707 |
| saved (relative) |

[2022-07-26 07:10] rossberg commented on #27
@titzer, to give an example, currently, you can choose or change the definition of a single type without affecting uses of any other type. With your proposed change, it would affect all uses of _all_ types in the program.

[2022-07-26 11:14] askeksa-google commented on #27
The increase in compressed size has to do with the kinds of patterns the compressor can recognize. The field index is often very small, which is a pattern in itself. And the type index strongly correlates with the preceding instructions, since for the same type, the value will often come from similar sources. The module-wide field index, on the other hand, will only be recognized by the compressor

[2022-07-26 11:22] RossTate commented on #27
Wait wait wait. Two posts above seemed to indicate that wasm GC is double the size (uncompressed) and yet also takes twice as long to finish executing as JS. Did I read that right? If so, what's going on? Is it stuff like too much type annotations, or is there something else going on?

[2022-07-26 12:10] jakobkummerow commented on #27
WasmGC is more than twice as big as JS, yes. I didn't say anything about execution speed.

[2022-07-26 13:02] RossTate commented on #27
Thanks for confirming I read that correctly. As for speed, I got that from https://github.com/WebAssembly/function-references/issues/27#issuecomment-1193854170 by @manoskouk.

[2022-07-26 13:09] manoskouk commented on #27
Sorry, if it wasn't clear I meant 2x deficit in binary size.

[2022-07-26 13:12] RossTate commented on #27
Ah, thanks! Sorry for misunderstanding.

[2022-08-01 17:55] jakobkummerow commented on #27
I've found some time to implement decoding of immediate-less struct/array get/set instructions and measure performance.
I've used the Sheets module mentioned before.

For validation alone, one machine showed a 0.9% improvement (91.6 -> 90.8 ms), another machine only 0.5% (67.0 -> 66.7 ms).
For combined validation and baseline compilation, any difference is lost in the noise (so likely <0.1%, hard

[2022-08-01 19:42] tlively commented on #27
In particular, I really don't see how we could end up in a place where we do not know enough about the type on top of the stack to be able to validate a field access. If we didn't, then it seems we wouldn't have enough information to validate local.set, a function call, or any other consuming instruction, either. If a future type system extension needs more annotations, it will be on instructions

[2022-08-02 04:55] titzer commented on #27
Thanks for those experiments, Thomas.

I see this differently. Suppose we didn't know that we could save 2-5% module size without dropping annotations. Would MVP with annotations be unshippable due to prohibitive space overhead?

[2022-08-02 08:27] rossberg commented on #27
@tlively:

It's quite a bit more subtle than that. There are other sorts of problem that can arise, e.g., that the input type does not provide enough information to compute a (principal) output type, when there is a dependency. For example, we may have to synthesise that type, which may involve synthesising a type definition, which doesn't fit Wasm's setup. Or we may have to compute lubs/glbs (see

[2022-08-02 08:54] #26 closed

[2022-08-02 15:42] eqrion commented on #27
I don't think there is disagreement on whether #69 is a real problem. I think the disagreement is on whether it motivates F-R/GC to change or whether dead code should be changed.

Dead code is vanishingly rare. It effectively only exists in spec tests and fuzz tests. I would advocate for changing dead code whenever we run into an issue caused by a well-motivated instruction/type.

I'm interested i

[2022-08-02 15:46] tlively commented on #27
(credit to @jakobkummerow, not me, for the experiments)

I would personally change my mind about this if we could demonstrate a toy type system extension that purposefully breaks annotation-free struct.get without requiring us to overhaul unrelated parts of the existing system. If we can find such an extension on purpose, then I would believe that we might encounter a similar one accidentally in t

[2022-08-02 16:45] RossTate commented on #27
A year or two ago I presented a proof of how various extensions in discussion would make type-checking NP-hard should annotations on `struct.get/set` be removed (in a way that the `select` fix cannot address). I did this to motivate a nominal-based architecture that would avoid said problems. However, the group voted against that architecture and, as such, should accept the consequences of more an

[2022-08-02 16:49] tlively commented on #27
@RossTate can you share a link to those presentations?

[2022-08-02 16:52] RossTate commented on #27
I should also note at the same time that those post-mvp plans seem extremely hypothetical at this point. For example, the papers they are based on required exceptions to be explicit in function types. The issues that arose and were not addressed during the discussion of non-nullable types are a tiny fraction of the issues that will need to be addressed to make those post-MVP plans come to fruition

[2022-08-02 16:55] RossTate commented on #27
@tlively Found it: https://github.com/WebAssembly/meetings/blob/main/gc/2020/GC-12-01.md

[2022-08-02 17:49] tlively commented on #27
Thanks, @RossTate! That's the exact kind of example I was hoping for.

(The TL;DR of the presentation is that if you allow multiple supertypes, you can embed the graph coloring problem into the problem of trying to figure out how to type `struct.set`. The types are not immediately obvious without annotations because the multiple supertypes mean there is no single principal type to choose.)

I beli

[2022-08-02 18:03] RossTate commented on #27
That solution breaks substitutability/subsumption.

[2022-08-02 18:05] rossberg commented on #27
Personally, I'm not sure to what generality we would want to support multiple supertypes, but e.g. @titzer pointed out the need for them. Nevertheless, we probably want to remain careful there.

I don't think we can assume that would work easily. It may break relevant properties, and it's not necessarily obvious how to express simple and cheap conditions for restricting these cases. For example, t

[2022-08-02 18:15] tlively commented on #27
@RossTate, can you explain how?

@rossberg, can you be more concrete? It seems like it should be simple to have a rule that says "if there are multiple options for what type to choose, require an annotation."

[2022-08-02 18:17] rossberg commented on #27
@tlively, it may not be easy to decide whether there are multiple options – that may well involve an expensive algorithm in itself, or worse.

[2022-08-02 18:27] tlively commented on #27
@rossberg, can you provide an example of a type system extension for which that would be the case?

[2022-08-02 18:30] RossTate commented on #27
Substitutability/subsumption, by definition, says that if an instruction type-checks with a certain (list of) input type, then it also type-checks with all subtypes of that input type. So if it type-checks with an input type that is a struct with some field, then it must also type-check with a type variable whose upper bound is that struct type—even if that type variable also has another upper bou

[2022-08-02 18:34] titzer commented on #27
I wrote before:

I ask this unironically, and not as a gotcha. Is MVP with annotations shippable, if we accept 5% space overhead?

I pointed out in the meeting that omitting type annotations is effectively using the type reconstruction of validation as a compression scheme. If we were to lean into that, we could imagine a Layer 1 compression scheme specifically designed to leverage type reconstruc

[2022-08-02 18:36] tlively commented on #27
Thanks, @RossTate. I wonder how important this case of substitutability/subsumption is if you view dropping the annotation as an optimization or form of compression, as @titzer described.

[2022-08-02 18:38] RossTate commented on #27
My proof basically implies that "decompression" would be NP-hard.

[2022-08-02 18:39] titzer commented on #27
As for multiple supertypes, the type import extension I explored with Jawa used them to model Java interfaces. Java interface types are extremely common in APIs. Without multiple supertypes, you have to resort to using a top type and dynamic checks.

[2022-08-02 18:42] rossberg commented on #27
@tlively, to decide whether something is the only type you generally need an algorithm that can actually compute and enumerate _all_ possible types, and then check that it produces a unique one. If you don't have the principal types property (which is the scenario we're discussing), then such an algorithm is likely exponential. There may be simpler conditions to decide this in specific scenarios,

[2022-08-02 18:48] tlively commented on #27
Thanks, @rossberg, that makes sense. I was going to write a comment about how simple the rule would be in the case of multiple supertypes, but in the process I realized that it actually wouldn't be simple. You can't just look at the direct supertypes of the type on the stack, you have to search up the supertype chain to find branches, then compare the branches to see if they're incompatible, for s

[2022-08-02 19:50] RossTate commented on #27
Personally, I agree with @jakobkummerow. There are concrete costs to these annotations, and previously the group has discounted the concerns of hypothetical extensions in such situations (and these extensions seem particularly hypothetical).

[2022-08-02 20:15] conrad-watt commented on #27
Are we open to the possibility of a future version of the type imports proposal with multiple declared supertype bounds? That seems to be the most immediately-likely way that this problem "becomes real". I appreciate that we've not really thought about that proposal for a while.

(there would possibly be work-arounds if we started with non-indiced instructions and wanted such a feature, but they'd

[2022-08-02 21:16] tlively commented on #27
I would love to avoid having multiple supertypes in general as long as possible because Binaryen depends so heavily on being able to calculate LUBs, but I would at least spend time discussing and evaluating that extension if it were motivated by an important real-world use case.

Out of curiosity, are there any other type system extensions that folks have top-of-mind that would have similar issues

[2022-08-02 21:38] RossTate commented on #27
The ones I can think of would require exceptions to be explicit in function types in order to be used reliably for their respective applications. The related discussion on non-nullable types made that prospect seem pretty dismal, which makes the prospect of those hypothetical features seem dismal as well.

[2022-08-02 21:39] RossTate commented on #27
Oh, and as a technical note, the issues being discussed here are orthogonal to LUBs.

[2022-08-04 14:02] rossberg opened #70 "Fix table-elem desugaring"
It is not inserting the element type into the elem definition.

Also, 1.0 elem syntax with tableuse but no type has fallen between the cracks.

@CosineP, @dhil, FYI.

[2022-08-04 16:01] #70 closed

[2022-08-04 18:04] tlively commented on #27
I was talking to @kripken about the [graph coloring example](https://github.com/WebAssembly/meetings/blob/main/gc/2020/presentations/2020-12-01-tate-exponential-nondeterminism.pdf) offline, and we realized that we don't know how adding annotations would fix it. It seems like the only annotations you could actually add to that program would be for type `$V`, but that doesn't give you any new inform

[2022-08-04 18:25] conrad-watt commented on #27
I think we can sidestep the specifics of the graph colouring construction in that presentation by observing that we can't define a convincing linear scan validation algorithm for struct access instructions consuming an opaque type described only by multiple struct-shaped supertype bounds, if said struct access instructions don't have input type annotations. IIUC that's the "essence" that's importa

[2022-08-04 18:33] RossTate commented on #27
My understanding is that `$V` would not be allowable as the annotation for `struct.get`; the annotation has to be specifically a `struct` type. That would mean each of the initial `struct.get` instructions would have to be annotated with the specific `struct` supertype of `$V` that makes the program type-check, so each such annotation would in turn specify the color of the respective vertex that d

[2022-08-04 18:35] tlively commented on #27
Aha, thanks, @RossTate! Before understanding that, it had seemed that the example had no bearing on the present discussion since it would be equally broken with or without annotations.

[2022-08-05 15:20] eqrion commented on #27
@RossTate I may be missing something, but doesn't this break the definition of subsumption given above as well?

`struct.get supertype-of-$V` would validate, but `struct.get $V` would not in the above rules for annotations.

The side-condition 'type annotation must be a concrete struct type' seems identical in practice to 'input type must be a concrete struct type'?

[2022-08-05 16:56] RossTate commented on #27
Good questions. Before getting technical, let me demystify and motivate subsumption a bit for everyone.

We like to be able to inline functions. Consider a subtyping `A <: B` and the obvious function `$upcast_A_to_B: [A] -> [B]` that simply returns its input, i.e. is the identify function except for a loss in type precision. Given what this function does, you'd expect to be able to inline a `call

[2022-08-05 18:56] tlively commented on #27
A third option would be to compromise slightly on substitutability under the assumption that any tool that would benefit from substitutability would also be able to add the type annotation as necessary (under any type system that can otherwise work without annotations).

[2022-08-05 20:06] RossTate commented on #27
You can't really compromise slightly on a global principle; it holds or it doesn't hold. Rather, what you're proposing is that the extensions in discussion would not be subtypes but would rather have erasable coercions. For example, a type import would not be a subtype of its additional upper bounds; rather, there would be an `upcast_to_bound <n> : [(ref $V)] -> [(ref $bound_n_plus_1)]` instructio

[2022-08-08 21:19] eqrion commented on #27
Thanks Ross for the answer, that helps a lot.

So if the abstract syntax of `struct.get` included a type annotation, but we introduced a fallible type inference algorithm (similar to how @titzer framed the issue above) to generate that type annotation from a binary format that doesn't include the annotation, that would not strictly violate subsumption? (in the world where multiple upper-bounded ty

[2022-08-09 10:57] askeksa-google commented on #27
I did some more measurements to estimate the additional overhead of adding a type index to `call_ref`. Here's the table from [earlier](https://github.com/WebAssembly/function-references/issues/27#issuecomment-1194141564) with an extra "Full" row that includes these:

| | Module, uncompressed | Module, zopfli | Code section, uncompressed | Code section, zopfli |
| - | -: | -: | -: | -: |
| Full | 1

[2022-08-09 17:08] kripken commented on #27
As a quick estimate for J2Wasm, there are 9 K `call_ref`s in a 9 MB binary, and the number of types is around 18 K so type LEBs are probably 2-3 bytes, so the code size increase would be 0.2%-0.3%. There are over an order of magnitude more `struct.get`s, so those matter a lot more than `call_ref` for size.

Overall a size improvement of ~4% seems significant here and I think we should remove the a

[2022-08-09 18:03] RossTate commented on #27
@eqrion I'm not entirely I understand the option you're asking me feedback on, so here's my best guess. Using a fallible inference algorithm (in the future) to recover missing annotations has the same issues as using an incomplete validation algorithm.

That said, I'm not sure we need more options to consider. It's been about a week since someone posed the question of whether there were concrete f

[2022-08-09 19:34] titzer opened #73 "`func.bind` and iso-recursion"
I am having trouble wrapping my head around the intended type rules for `func.bind`. Currently, `func.bind` includes a type annotation (call this `$ft`) that should reference a signature type. The result of the instruction should be `ref $ft`. The top of the stack should contain a function reference (let's suppose its type is `ref null $et`). The difference in parameter arity between `$et` and `$f

[2022-08-09 22:55] eqrion opened #74 "Validating local.get in nested blocks with unreachable"
Should the following module validate?

[code]

The declarative rule for `unreachable` indicates that it is valid for any instruction type, and therefore can `set` any local in the context, which would allow this module to validate.

The algorithm in the appendix however only checks the top control item for unreachable (`ctrls[0].unreachable`), which would cause this module to not validate, as ther

[2022-08-09 23:14] titzer commented on #27
@eqrion I also feel like a 5% space savings doesn't really solve the issue if 2x is what is needed. Also, that 5% space is *compressed* size. My comment in the meeting a couple weeks back about including a general purpose compression algorithm in our calculations wasn't fully articulated. The compression schemes *we have right now* are 5% smaller without annotations, but if a *different compressio

[2022-08-09 23:16] conrad-watt commented on #74
IMO there are three possible solutions (@rossberg probably has opinions here)

1 - `unreachable` and similar should only be valid for instruction types with _empty_ init components (i.e. be conservative - no "`local.set` polymorphism" for now)

2 - "`local.set` polymorphism" should be inherited to nested blocks

3 (with apologies to the dead horse) - we introduce a stack bottom type, and the initi

[2022-08-10 00:37] eqrion commented on #74
(1) IIUC, would be the easiest to implement, as we just do nothing extra on unreachable/etc, and don't need to add another condition to `local.get`. local.get is the hottest instruction, so that's nice.

(2) will require us to maintain a new bit for 'parentOrSelfIsPolymorphic' on our control stack that we would check on every `local.get` to skip validation.

(3) seems similar to (2) but with the b

[2022-08-10 07:11] rossberg commented on #74
Good catch! I agree that going with (1) makes most sense. The motivating examples for allowing stack polymorphism are much less concerned with init status, so we don't have to extend it to that. And it's the conservative choice.

Please see #75.

[2022-08-10 07:31] rossberg commented on #27
Agreed. If anything, it turned up how slippery the slope would be. ;)

[2022-08-10 07:50] rossberg commented on #73
`func.bind` is no longer included in this proposal (now in Post-MVP), but roughly, you'd take the difference after unrolling both types.

If we opt for explicit type annotations, then `func.bind` would actually have 2 annotations and a typing rule as follows:
[code]
I just updated the rule in Post-MVP.md to mirror this.

Without full type annotations, `$t` would be inferred from the operand.

[2022-08-10 09:23] conrad-watt commented on #74
For certain more ambitious across-block initialisation schemes, we'd need to reintroduce either (2) or (3), but that should be a forward compatible change as it would only allow more programs to validate.

[2022-08-10 09:40] jakobkummerow commented on #27
@titzer:

I encourage you to develop and/or present such an algorithm. On its own, "we shouldn't do anything now because I'm sure someone else will invent a rounder wheel in the future, which will solve all our problems" is not a convincing argument.

In the Sheets module measured above, 200 KB are used for defining 61K locals across 28K functions, accounting for 2.1% of the uncompressed code sect

[2022-08-10 10:20] rossberg commented on #74
Closing via #75.

[2022-08-10 10:20] #74 closed

[2022-08-10 12:37] RossTate commented on #27
I had thought that the notable lack of motivating examples benefiting from annotations might have been a fundamental change to the decision calculus. If it would help move the discussion forward, I can explain why the one example that has been mentioned—Jawa—does not actually need multiple upper bounds on type imports, leaving us with no motivating examples. (The short of it is that, due to the co

[2022-08-11 10:15] askeksa-google commented on #27
Indeed dart2wasm performs closed-world optimizations, but most of these are ones that *reduce* code size, e.g. tree shaking, parameter elimination, constant propagation, devirtualization.

[2022-08-11 13:07] RossTate commented on #27
Ah, I would have thought it did inlining as well largely due to its symbiotic role with devirtualization (devirtualization provides an inlining opportunity, which moves virtual calls to a more specialized context, which enables more devirtualization).

[2022-08-11 21:29] kripken commented on #27
About the importance of binary size, I look at it like this: if we could easily reduce the size of all images on the Web by 5% then we'd want to do that. Likewise for video, JS, etc. The scale of the Web is so big that even a 5% win on one format matters a lot! Maybe one user can't easily notice it by themselves, but plenty of data shows that even small changes to download size have real-world imp

[2022-08-11 21:57] eqrion commented on #27
@kripken Thanks for that, I think that's well said.

I just want to clarify my comments regarding the '5% vs 2x' point. I definitely agree that improvements are worth considering even if they don't solve the larger issue completely.

I would just like to better understand why wasm-GC binary size is 2x JS binary size. This would help me to evaluate the relative importance of a 5% improvement vs any

[2022-08-11 22:20] rossberg commented on #27
@eqrion:

Because JS is a high-level language and Wasm isn't. Respective size comparisons are mostly apples to oranges. Native code also tends to be much larger than JS source code, probably by more than 2x.

[2022-08-11 22:31] eqrion commented on #27
I'm quite aware of the difference between JS and Wasm. All of the items I listed as possible reasons for a size difference would be due to Wasm being a lower-level language.

[2022-08-11 23:24] tlively commented on #27
One thing that might help move the conversation forward is if we could get an example of a type system extension for which the existence of unannotated struct.get and struct.set (even in the presence of additional annotated versions) would be a problem. In other words, it would be nice to have an example where the decision procedure for determining whether an annotation is required is greater than

[2022-08-12 03:26] kripken commented on #27
@eqrion

Things are still evolving so any specific measurement may end up changing. But I think these are some of the main factors, which include things you mentioned:

* Inlining. While engines can inline at runtime, I don't think we can assume they'll do as well as JS (JS is higher level so there is more to work with). Also runtime inlining takes time to warm up and may differ between VMs. So we

[2022-08-23 14:34] rossberg commented on #73
Closing as answered. Feel free to reopen if there are further questions.

[2022-08-23 14:34] #73 closed

[2022-08-25 20:01] dtig commented on #27
Adding a note here that this was discussed in the GC subgroup meeting earlier this week (PR for notes [here](https://github.com/WebAssembly/meetings/pull/1097/files). The high order bit is that the poll of the room showed that the consensus is to retain type annotations on new instructions. Continuing the discussion for next steps here, some questions:

- Is the consensus in the meeting sufficient

[2022-08-25 20:28] tlively commented on #27
Let's move forward with keeping the existing annotations and adding annotations to `call_ref` and friends as well. I don't see a need to hold a further vote. @rossberg, can you prepare a spec PR for that? We'll work on updating V8 and Binaryen, too.

[2022-08-25 21:22] rossberg commented on #27
@tlively, done: #76.

[2022-08-25 21:37] rossberg commented on #27
Closing via #76.

[2022-08-25 21:37] #27 closed

[2022-08-25 21:38] rossberg commented on #69
Closing via #76.

[2022-08-25 21:38] #69 closed

[2022-08-26 22:02] yurydelendik opened #77 "br_on_non_null.wast needs unreachable test"
It looks like a copy'n'paste typo. The file is missing unreachable test for br_on_non_null, but has one for the br_on_null.

https://github.com/WebAssembly/function-references/blob/959999dfbbfd737758637d3ccc734e1895095021/test/core/br_on_non_null.wast#L30

[2022-08-30 23:19] titzer opened #78 "slowness of test/core/skip-stack-guard-page.wast"
This spec test has gotten a lot slower with the function references and gc proposals, taking over 30 seconds on my machine. The rest of the tests are in the millisecond range. I looked into why this is and if there was something that could be done to make the test faster. E.g. I suspected I could nerf this test to run in less time, but alas, it was not so easy because it tries to test different ne

[2022-08-31 06:21] rossberg commented on #77
Indeed. Fixed, thanks!

[2022-08-31 06:21] #77 closed

[2022-08-31 08:24] rossberg commented on #78
The problem actually was validation. Following the paper rules, the interpreter updates the local environment after every instruction to apply the new init status. However, due to the way the typing rule for instruction sequences was formulated as a left fold, it redid that for all previous variables after every instruction, which let to quadratic behaviour.

Fixed by turning the rule into a right

[2022-08-31 08:24] #78 closed

[2022-08-31 08:26] rossberg commented on #78
PS: I'm currently in the process of re-merging the funcref into the GC proposal. But due to some recent refactoring, there are lots of conflicts, so it may take a few more days.

[2022-08-31 12:25] titzer commented on #78
Thanks!

[2022-09-21 13:09] rossberg opened #80 "Drop null casts?"
With the latest generalisations to casts in the GC proposal, the instructions `ref.as_non_null`, `br_on_null`, and `br_on_non_null` from this proposal are actually (more or less) subsumed:
[code]
where `<ht>` is the heap type of the respective operand, and `bot<ht>` the bottom type of the respective hierarchy. In the case of `br_on_null`, however, the label `$l` needs to have a different type (`[(

[2022-09-21 13:50] conrad-watt commented on #80
Also, if there's discomfort with removing them for code size reasons, could we at least fiddle with their passthrough behaviour so that they are precisely specialisations of the new instructions?

[2022-09-21 13:58] titzer commented on #80
I would prefer to keep these instructions, not only for code size reasons (they are extremely common), but, particularly in the cast of the casts, they go against what @rossberg was arguing for, in that every instruction maps to a straightforward, predictable sequence of machine code. In this case, it would be overloading the casting mechanism to get a single-world nullcheck.

[2022-09-21 15:17] rossberg commented on #80
@titzer, since we have pretty much entirely dropped that goal for casts and gone the opposite way, that particular argument seems strangely inconsistent to me at this point. ;)

FWIW, ref.as_non_null probably was the only common one in my compilers, but still far from hot. The substitute would only be one byte longer in most cases, which is unlikely to make a significant difference in code size.

[2022-09-21 15:45] titzer commented on #80
@rossberg AFAIR, we just decided to add a whole new set of cast opcodes specifically for the abstract types.

[2022-09-30 18:06] titzer opened #81 "Tweak binary format for table declarations"
The new binary format for table types allows `0x40 0x00` as a prefix to a non-nullable reference type to indicate a table that has an explicit element initializer. I think we should tweak this a little.

1. Avoid `0x40`, since that is used for an empty block type already[1]. E.g. use `0x41`, which doesn't collide with anything.
2. For table types, put the constant initializer *before* the limits,

[2022-10-04 07:42] rossberg commented on #81
Re 1: That would be okay, but is there really a collision? 0x40 is not a proper type opcode, but more like an escape code. A decoder can first check for 0x40, and then decode the type separately – which I think is a more efficient factoring anyway, since it avoids populating the internal type representation with a pseudotype that you then have to check for retroactively, and in all other places, t

[2022-10-08 12:21] rossberg commented on #38
The spec is completed.

[2022-10-08 12:21] #38 closed

[2022-10-08 12:21] #80 closed

[2022-10-24 20:30] eqrion opened #83 "JS-API is missing value conversions"
This is highly related to: WebAssembly/gc#279, but as this is a separate proposal I think it needs an issue here too.

1. What is the behavior of ToWebAssemblyValue for `(ref null? T)` when `T = func-type`. The explainer says for ['value conversions'](https://github.com/WebAssembly/function-references/blob/main/proposals/function-references/Overview.md#value-conversions) that a type equality check

[2022-10-25 23:23] rossberg commented on #83
Makes sense to me. I'm happy to adjust the doc once we have agreement on what we want to support.

Personally, I'd be fine with only supporting anyref, externref, and funcref.

The doc says that "the `null` value is allowed as `ref null ht`", which is meant to imply that it is not allowed for anything else, i.e., should trap.

Yes. FWIW, I agree that `(ref extern)` isn't a particularly useful type

[2022-11-06 16:09] titzer commented on #81
I suppose that I should just think of `0x40` as the escape for "not a value type" since it indicates an empty block type, and here, an extended global type. For 2, it is only a minor annoyance that I can fix with a few lines of code :-)

[2022-11-06 16:09] #81 closed

[2022-11-22 21:42] yurydelendik opened #86 "Extend `TableType` to support non-nullable references in JS-API"
Is JS API is missing the extension for `ElemType` at [Type Representation](https://github.com/WebAssembly/function-references/blob/main/proposals/function-references/Overview.md#type-representation) of the Overview? The [js-types](https://github.com/WebAssembly/js-types/blob/main/proposals/js-types/Overview.md#type-representation) defines:

[code]

It looks like the ElemType will be simply `= "fun

[2022-11-23 10:11] rossberg commented on #86
Yeah, several pieces here are a bit outdated. I just created WebAssembly/js-types#40 to update the JS types overview for Wasm 2.0. That renames `ElemType` to `RefType` and adds `"externref"`.

I also updated the function ref overview to reflect our decision to go with the no-frills approach. That means we will not add the `{ref: ...}` form for the time being.

[2022-11-23 10:14] rossberg commented on #83
I updated the Overview to reflect the no-frills decision. So I think we can close this issue.

[2022-11-23 10:14] #83 closed

[2022-11-23 10:15] #86 closed